.icon-switch {
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #555555;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon-switch i {
    font-size: 24px;
}