.icon-switch {
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #555555;
    cursor: pointer;
}
.icon-switch i {
    font-size: 24px;
}